@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
--primary-color-hue: 252;
--dark-color-lightness: 17%;
--light-color-lightness: 95%;
--white-color-lightness: 100%;

--color-dark: hsl(252, 30%, var(--dark-color-lightness));
--color-light: hsl(252, 32%, var(--light-color-lightness));
--color-white: hsl(252, 30%, var(--white-color-lightness));
--color-primary: hsl(var(--primary-color-hue), 75%, 60%);
--color-gray: hsl(var(--primary-color-hue), 15%, 65%);
--color-secondary: hsl(252, 100%, 90%);
--color-success: hsl(120, 95%, 65%);
--color-danger: hsl(0, 95%, 65%);
--color-black: hsl(252, 30%, 10%);

--border-radius: 2rem;
--card-border-radius: 1rem;
--btn-padding: 0.6rem 2rem;
--search-padding: 0.6rem 1rem;
--card-padding: 1rem;

--sticky-top-left: 5.4rem;
--sticky-top-right: -18rem;
}

*, *::before, *::after{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: 0;
text-decoration: none;
list-style: none;
border: none;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--color-primary);
    color: white;
}

.bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}

.text-muted-small{
    color: var(--color-gray);
    font-size: x-small;
}


/* NAVBAR */

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 10px 10px 8px  #8888883f;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type = "search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
} */

nav .navigations{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .navs{
    color: var(--color-primary);
    text-decoration: none;
}


nav .navs:hover{
    opacity: 0.8;
    font-size: 1.1rem;
}

.containerweb .choose-vehicle{
    position: relative;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: var(--card-padding);
}

.choose-vehicle div{
    width: 100%;
    overflow: hidden;
    /* aspect-ratio: 2/1; */
    height: 25rem;
    background: var(--color-white);
    /* padding: var(--card-border-radius); */
    border-radius: var(--card-border-radius);
    box-shadow: 10px 10px 8px 8px #888888b6;
}
.choose-vehicle div:hover{
    box-shadow: 10px 10px 8px 8px var(--color-primary);
    font-size: 1.1rem;
    z-index: 1;
    transition: 1s;

}

.choose-vehicle .bike img{
    width: 30rem;
    height: 18rem;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

.vehicle-heading{
    margin-top: 6rem;
    text-align: center;
    color: var(--color-primary);
}

hr{
    border: 0.3px solid var(--color-black);
    text-align: center;
    margin-left: 39.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* 
.truck:hover{
    width: 110rem;
    margin-bottom: 3rem;
    transition: 3s;
} */
.car{
    width: 110rem;
    margin-bottom: 3rem;
}
.bike{
    transition: 1s;
    rotate: 18deg;
}
.truck{
    transition: 1s;
    rotate: -15deg;
}

.choose-vehicle h2{
    text-align: center;
}

.namegroove{
    color: var(--color-primary);
}

/* SECTION 2 */

.vehicle-heading-two{
    text-align: center;
    color: var(--color-primary);
}

.about-us-tab{
    padding: 0 10rem;
}

.about{
    background: var(--color-white);
    padding: 2rem;
    border-radius: var(--card-border-radius);
}

.basket-icon button{
    position: fixed;
    bottom: 0.8rem;
    right: 1rem;
    cursor: pointer;
    background: var(--color-primary);
    color: white;
    font-size: 1rem;
    padding: var(--btn-padding);
    border-radius: 1rem;
    opacity: 0.2;
    transition: 5s;
}

.basket-icon button:hover{
    opacity: 1;
    font-size: 1.5rem;
    transition: 2s;
}

.basket{
    position: fixed;
    bottom: 0.8rem;
    right: 1rem;
    background: white;
    box-shadow: 0 0 7px 4px  #88888841;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: none;
    cursor: pointer;
}

.services-pane{
    margin-left: 4rem;
    margin-bottom: 1rem;
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    width: 90%;
}

.service-heading{
    margin-left: 8rem;
}

.truck-svg{
    width: 56rem;
    height: 30rem;
}

.detail-card{
    background: white;
    box-shadow: 0 0 7px 4px  #88888841;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 50%;
    transform: translate(-8rem,-2rem);
}

.service-card{
    display: flex;
}

.car-svg{
    width: 56rem;
    height: 25rem;
}

.bike-svg{
    width: 56rem;
    height: 28rem;
}

/* PACKAGES */

.package-section{
    width: 100%;
    padding: var(--card-padding);
}

.packages{
    gap: 0;
    display: flex;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    justify-content: center;
}

.packge-heading{
    text-align: center;
    letter-spacing: 4px;
}

.package-card{
    box-shadow: 0px 5px 10px 10px  #8888885f;
    padding: 3rem;
    border-radius: var(--card-border-radius);
}


.package-card img{
    width: 9rem;    
    transform: translate(-3rem,-5rem);
    padding: 0;
    height: 5rem;
    position: absolute;
}

.package-offers{
    margin-top: 2rem;
}

.package-premium{
    z-index: 1;
    margin-bottom: 3rem;
    background-color: #ffa1a1;
}

.package-standard{
    rotate: -10deg;
    background: #16161682;
    transition: 1s;
}

.package-elite{
    rotate: 10deg;
    background: #ffe07c;
    transition: 3s;
}

.package-card .footer{
    margin-top: 1rem;
    font-size: 3rem;
    padding: 10px;
    border-radius: 2rem;
    opacity: 1;
    cursor: pointer;
}

.package-standard .footer{
    background-color: #16161624;
}
.package-premium .footer{
    background-color: #ff7f7f7f;
}
.package-elite .footer{
    background-color: #ecc33d66;
}

.package-card .footer:hover{
    opacity: 0.7;
    transition: ease;
}

/* =================================== CONTACT US ================================ */
.contact-us-section{
    padding: 0 10rem;
    margin-left: 1.7rem;
    display: flex;
    justify-content: center;
}

.form-card{
    padding: var(--card-padding);
    background: var(--color-white);
    /* border-radius: var(--card-border-radius); */
}

.sub-heading{
    text-align: center;
    margin-bottom: 1rem;
}

.inner-card-form{
    /* display: flex; */
    justify-content: center;
    padding: 1rem;

}

.inner-card-form textarea{
    resize: none;
    width: 100%;
    height: 9.3rem;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    padding: 1rem;
    font-size: 1rem;
}

.inner-card-form input{
    width: 100%;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
}

.info{
    background: var(--color-primary);
    padding: 2rem;
    color: var(--color-white);
    width: 35%;
}

.info ul{
    margin-top: 1.5rem;
    padding: 1rem;
    line-height: 3rem;
    font-size: 1rem;
}

.info i{
    font-size: 1.7rem;
    border: 1px var(--color-white) solid;
    border-radius: 100%;
    padding:  0 0.4rem 0 0.4rem;
    margin-right: 1rem;
}


footer{
    background: var(--color-dark);
    color: var(--color-white);
    text-align: center;
    height: 4rem;
}


/* ================================= MODALS ============================== */

/* ================================== CAR-MODAL ========================== */

.bike-modal{
    background: rgba(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: none;
    place-items: center;
    font-size: 0.9rem;
}

.truck-modal{
    background: rgba(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: none;
    place-items: center;
    font-size: 0.9rem;
}

.car-modal{
    background: rgba(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: none;
    place-items: center;
    font-size: 0.9rem;
}

.car-modal-card{
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 70%;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.car-list-modal{
    display: flex;
    justify-content: space-between;
}

.car-list-modal .car-list-card{
    text-align: left;
    line-height: 2rem;
    width: 30%;
}

.car-list-card ul{
    font-size: 1rem;
    color: var(--color-primary);
    background: var(--color-light);
    padding: var(--card-padding);
}

.car-list-card ul li{
    background: rgba(255,255,255,0.4);
    border: 1px solid var(--color-white);
    padding: 0 1rem 0 1rem;
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
    cursor: pointer;
}
.car-list-card .active{
    background: var(--color-primary);
    color: white;
}

.car-list-card ul li:last-child{
    margin-bottom: 0;
}

.car-list-card ul li:hover{
    background: var(--color-white);
    transition: 0.1s;
}

.sub-heading-2{
    font-size: 0.8rem;
}

.car-list-detailed li:hover{
    background: rgba(255,255,255,0.4);
}

.car-list-detailed{
    width: 68%;
    padding: var(--card-padding);
    font-size: 1rem;
    color: var(--color-primary);
    background: var(--color-light);
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-columns: repeat(3, 2fr);
    column-gap: 1rem;
    place-items: center;
}

.car-list-detailed li{
    padding: 1rem;
    background: var(--color-white);
    margin-bottom: 0.4rem;
    border-radius: var(--card-border-radius);
    width: 10rem;
    height: min-content;
}

#tunning{
    display: grid;
}

#oil{
    display: none;
}

#ac{
    display: none;
}

#inspection{
    display: none;
}

#engine{
    display: none;
}

#wash{
    display: none;
}
